<div class="container">
<div class="row">
    <% @cat.each do |nombre, imagen, id| %>
    <div class="col-md-6 mb-4">
        <h4 class="text-white"><%= link_to nombre, detalles_path(id_trago: id) %></h4>
        <img src="<%= imagen %>" alt="" style="max-width: 100%;">
    </div>
    <% end %>
</div>
</div>

