<div class="contener" style="display:flex;justify-content:center;width:100%;height: 100vh; align-items: center;text-align: center;">
<div class="contenedor" style="width: 100%;">
<% if @detalle_trago %>
  <h1><%= @detalle_trago['drinks'][0]['strDrink'] %></h1>
  <img src="<%= @detalle_trago['drinks'][0]['strDrinkThumb'] %>" alt="Imagen del trago">

  <ul>
    <% @detalle_trago['drinks'][0].each do |key, value| %>
      <% if key.start_with?('strIngredient') && value.present? %>
        <% measure_key = "strMeasure#{key.split('strIngredient')[1]}" %>
        <li class="detalle"><%= "#{value} - #{@detalle_trago['drinks'][0][measure_key]}" %></li>
      <% end %>
    <% end %>
  </ul>

  <p class="instrucciones"><%= @detalle_trago['drinks'][0]['strInstructions'] %></p>
  <!-- Puedes mostrar otros detalles del trago según lo que necesites -->
<% else %>
  <p>No se encontró información para este trago.</p>
<% end %>

</div>

