<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Paradise Cocktail Bar</title>
<link rel="stylesheet" href=""> <!-- Enlaza tu archivo de estilos CSS externo aquí -->
</head>
<body>

<div class="container text-center py-5" style="display: flex;justify-content: center;width: 100%;flex-direction: column;">
    <h1>Categorías</h1>
    <div class="contenido" style="display: flex;justify-content: center;width: 100%;">
        <ul class="list-group text-center" style="width: 30%;">
        <% @categorias.each do |categoria| %>
            <li><%= link_to categoria, cat_path(categoria: categoria) %></li>
        <% end %>
        </ul>
    </div>
</div>
</body>
</html>
