body
{
    background-image: url("fondoxd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    height: 100%;
}


  /* Cambia el color del texto de los encabezados h1 */
h1 {
    color: #e7ecf1; /* Cambia el color del texto a azul (#007bff) o al color que prefieras */
}


a
{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


/*contenedores*/
li{
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: #d1d1dd00;
    border: var(--bs-list-group-border-width) solid #dee2e600;
}


.contenido ul li:hover
{
    color: black;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.detalle
{
    color: white;
}

.instrucciones
{
    color: white;
}